<ion-view title="{{title}}">

    <ion-nav-buttons side="right">

        <a class="button button-icon header-button" href="#/tabs/new-post" ng-click="newPost() && updateList()"> Fet </a>

    </ion-nav-buttons>


    <ion-content has-bouncing="true">

        <div class="container4">

            <div class="list" style="margin-left: 4px;" height="70" width="70">
                <h10>Puja imatge</h10>
            </div>
            <table>
                <tr>
                    <td style="vertical-align:top"><a ng-click="openOptions('principal')">
                        <div style="height:0;"><img ng-src="{{imagePrinc}}" src="img/photo.png" alt="" height="221"
                                                    max-width="100%"></div>
                    </a></td>
                    <td><a ng-click="openOptions('img1')"><img ng-src="{{image1}}" src="img/photo.png"
                                                               style="margin-left: 4px;" height="70" width="70"/></a>
                    </td>
                </tr>
                <tr>
                    <td><!--empty--></td>
                    <td><a ng-click="openOptions('img2')"><img ng-src="{{image2}}" src="img/photo.png"
                                                               style="margin-left: 4px;" height="70" width="70"/></a>
                    </td>
                </tr>
                <tr>
                    <td><!--empty--></td>
                    <td><a ng-click="openOptions('img3')"><img ng-src="{{image3}}" src="img/photo.png"
                                                               style="margin-left: 4px;" height="70" width="70"/></a>
                    </td>
                </tr>
            </table>



            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Titul</span>
                    <input type="text" ng-model="$parent.titlePost" name="titlePost" placeholder="Introdueix un títol">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Descripció</span>
                    <textarea type="text" ng-model="$parent.contentPost" name="contentPost" placeholder="Introdueix una descripció"
                       type="text"></textarea>
                </label>

            </div>

        </div>


    </ion-content>

</ion-view>