<ion-view title="{{title}}">


    <ion-content overflow-scroll="true" has-bouncing="true" ng-init="getGallery()">
<!--
        <ion-refresher on-refresh="getGallery()"></ion-refresher>
-->

        <div class="row" ng-repeat="image in images track by $index" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
                <img class="main-image" ng-src="http://recursos.globals.cat/sprites.png" style="background-image:url('{{images[$index]}}');" ng-click="openModal(images[$index])"/>
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
                <img class="main-image" ng-src="http://recursos.globals.cat/sprites.png" style="background-image:url('{{images[$index + 1]}}');" ng-click="openModal(images[$index + 1])"/>
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
                <img class="main-image" ng-src="http://recursos.globals.cat/sprites.png" style="background-image:url('{{images[$index + 2]}}');" ng-click="openModal(images[$index + 2])"/>
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.length">
                <img class="main-image" ng-src="http://recursos.globals.cat/sprites.png" style="background-image:url('{{images[$index + 3]}}');" ng-click="openModal(images[$index + 3])"/>
            </div>
        </div>
    </ion-content>

    <script id="gallery_modal.html" type="text/ng-template">
        <div class="modal" ng-click="closeModal()">
            <ion-content>

                <div class="item item-image">

                    <img class="card-image" ng-src="{{images.gallery_image}}"
                         style="display:block; width:100%; max-width:600px; margin:auto"/>
                </div>
            </ion-content>
        </div>
    </script>

</ion-view>




<!--
<ion-view title="{{title}}">

    <ion-content has-bouncing="true" ng-init="getGallery()">
        <ion-refresher on-refresh="getGallery()"></ion-refresher>

        <div class="row" ng-repeat="image in images track by $index">
            <div class="col-25" ng-if="$index < images.length">
                <img ng-src="http://today.globals.cat/uploads/{{image}}" width="100%" ng-click="openModal(image)"/>
            </div>

        </div>
    </ion-content>

    <script id="gallery_modal.html" type="text/ng-template">
        <div class="gallery_modal" ng-click="closeModal()">
            <ion-content>

                <div class="item item-image">

                    <img class="card-image" ng-src="{{images.gallery_image}}"
                         style="display:block; width:100%; max-width:600px; margin:auto"/>
                </div>
            </ion-content>
        </div>
    </script>

</ion-view>-->





<!--<ion-view title="{{title}}">

    <ion-content has-bouncing="true" ng-init="getGallery()" ng-controller="ArticleCtrl">
        <ion-refresher on-refresh="getGallery()"></ion-refresher>

        <div class="row" ng-repeat="image in images track by $index">
            <div class="col-25">
                <img ng-if="image" ng-src="http://today.globals.cat/uploads/image" style="background-image:url('http://today.globals.cat/uploads/{{image}}'); background-size:cover; width:50px; float:left; cursor:pointer; height:50px; margin:10px 10px 10px 0; background-repeat:no-repeat; background-position:center; border-radius: 2px 2px 0px 0px;" src="http://recursos.globals.cat/sprites.png"
                     ng-click="openModal(image)"/>
            </div>
        </div>

    </ion-content>
</ion-view>-->





<!--
<ion-view title="{{title}}">

    <ion-nav-buttons side="right">

        <button class="button button-icon ion-plus-round header-button" ng-click="openOptions()"></button>

    </ion-nav-buttons>

    <ion-content has-bouncing="true">

        <div class="masonry">
            <div ng-repeat="data in data_gallery">
                <img class="item-masonry" ng-src="{{ data }}" ng-click="openModal()"/>
                &lt;!&ndash;<img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
                <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
                <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
                <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />&ndash;&gt;
            </div>
        </div>
        <button ng-click="getGallery()" class="button button-clear button-full button-assertive"
                style="margin-top: -5px;">
            Cargar mas fotografias
        </button>

    </ion-content>
</ion-view>-->
