<ion-view title="{{title}}">

  <ion-nav-buttons side="right">

    <button class="button button-icon ion-plus-round header-button" ng-click="openOptions()"></button>

  </ion-nav-buttons>

  <ion-content has-bouncing="true">

    <div class="masonry">
      <div ng-repeat="image in images">
        <img class="item-masonry"  ng-src="{{ image }}" ng-click="openModal()" />
      <!--<img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
      <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
      <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
      <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />-->
      </div>
    </div>
    <button class="button button-clear button-full button-assertive" style="margin-top: -5px;">
      Cargar mas fotografias
    </button>

  </ion-content>
</ion-view>