
<ion-view title="{{title}}">

    <ion-content has-bouncing="true" ng-init="getGallery()">
        <ion-refresher on-refresh="getGallery()"></ion-refresher>

        <div class="row" ng-repeat="image in images track by $index" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
                <img ng-src="http://today.globals.cat/uploads/{{images[$index]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
                <img ng-src="http://today.globals.cat/uploads/{{images[$index + 1]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
                <img ng-src="http://today.globals.cat/uploads/{{images[$index + 2]}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.length">
                <img ng-src="http://today.globals.cat/uploads/{{images[$index + 3]}}" width="100%" />
            </div>
        </div>

    </ion-content>
</ion-view>




<!--
<ion-view title="{{title}}">

    <ion-nav-buttons side="right">

        <button class="button button-icon ion-plus-round header-button" ng-click="openOptions()"></button>

    </ion-nav-buttons>

    <ion-content has-bouncing="true">

        <div class="masonry">
            <div ng-repeat="data in data_gallery">
                <img class="item-masonry" ng-src="{{ data }}" ng-click="openModal()"/>
                &lt;!&ndash;<img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
                <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
                <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />
                <img class="item-masonry"  ng-src="data:image/jpeg;base64,{{ allImg }}" ng-click="openModal()" />&ndash;&gt;
            </div>
        </div>
        <button ng-click="getGallery()" class="button button-clear button-full button-assertive"
                style="margin-top: -5px;">
            Cargar mas fotografias
        </button>

    </ion-content>
</ion-view>-->
